body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(174,238,177);
    background: linear-gradient(90deg, rgba(174,238,177,0.8356384790244222) 0%, rgba(148,224,233,1) 100%);
}

#idHeader{
   width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

fieldset{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
}
#idFormSection{
    width: 700px;
    background-color: white;
    opacity: 0.76;
    border-radius: 20px;
    -webkit-box-shadow: -1px 3px 44px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 3px 44px -3px rgba(0,0,0,0.75);
    box-shadow: -1px 3px 44px -3px rgba(0,0,0,0.75);
}

#divDadosAluno{
    padding: 20px;
}
label{
    margin: 5px;
}

#idNascGen{
    margin: 20px;
}

input{
    border-color: rgba(192, 192, 192, 0.562);
    border-radius: 5px;
}
input:focus{
    box-shadow: 0 0 0 0;
    outline: 0;
}

.classBtnEnviar {
	box-shadow:inset 0px 1px 0px 0px #dcecfb;
	background:linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
	background-color:#bddbfa;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:15px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
}
.classBtnEnviar:hover {
	background:linear-gradient(to bottom, #80b5ea 5%, #bddbfa 100%);
	background-color:#80b5ea;
}
.classBtnEnviar:active {
	position:relative;
	top:1px;
}

.classbtnLimpar {
	box-shadow:inset 0px 1px 0px 0px #f7c5c0;
	background:linear-gradient(to bottom, #fc8d83 5%, #e4685d 100%);
	background-color:#fc8d83;
	border-radius:6px;
	border:1px solid #d83526;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:16px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
}
.classbtnLimpar:hover {
	background:linear-gradient(to bottom, #e4685d 5%, #fc8d83 100%);
	background-color:#e4685d;
}
.classbtnLimpar:active {
	position:relative;
	top:1px;
}

